<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <title>
        <%= title %>
    </title>
    <style>
        body {
            overflow: unset !important;
        }

        .jumbotron {
            position: relative;
            top: 100%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
    <link rel='stylesheet' href='/css/style.css' />
</head>

<body>
    <div class="container d-flex h-100">
        <div class="row align-self-center w-100">
            <div class="col-12 mx-auto">
                <div class="jumbotron">
                    <h1 class="display-8">
                        <%- msg %>
                    </h1>
                    <p class="lead">
                        <%- message %>
                    </p>
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="#" role="button" id="ok">Ok</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- * App Capsule -->
    <script>
        var from = '<%- from %>';
        var id = '<%- id %>';
        var scheduledType = '<%- scheduledType %>';
        var screen = '<%- screen %>';
        var paymentStatus = '<%- paymentStatus %>';
        var payment_method = '<%- payment_method %>';
        function callToRN(order) {
            window.ReactNativeWebView.postMessage(JSON.stringify(order));
        }

        setTimeout(function () {
            mobileScreen();
        }, 1000);

        function mobileScreen() {
            if (typeof window.ReactNativeWebView != "undefined" && from == "checkout") {
                callToRN({ screen: screen ? screen : "OrderStatus", url: "", returnUrl: "", orderId: id, scheduledType: scheduledType, paymentStatus: paymentStatus, payment_method: payment_method });
            } else if (typeof window.ReactNativeWebView != "undefined") {
                callToRN({ status: "success" });
            }
        }
    </script>
</body>

</html>